#!/usr/bin/env gnome-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=menuexecg "anonsurf stop"
Name=anonymous mode stop
Icon=player_stop
Categories=anonsurf;
