#!/usr/bin/env gnome-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=menuexecg "anonsurf change"
Name=change identity
Comment=Restart TOR daemon to change exit node
Icon=reload
Categories=anonsurf;

