#!/usr/bin/env gnome-open
[Desktop Entry]
Encoding=UTF-8
Name=Iceweasel (Stealth RAM Session)
Exec=anonsurf iceweasel_tor
Terminal=false
Type=Application
Icon=iceweasel
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Iceweasel
StartupNotify=true
Comment=Load a clean iceweasel session in RAM
